<div class="container">

  <!-- <mat-accordion>
    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{caseInfo.fileName}} &nbsp;&nbsp;&nbsp; {{caseInfo.lastChange}}
        </mat-panel-title>
        <mat-panel-description>
          {{caseInfo.owner}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div  rowHeight="300px">

            <form [formGroup]="caseInfoForm" (ngSubmit)="onSubmit()" style="width:99%">
                <div class="form-group row">
                  <label for="title" class="col-sm-1 col-form-label">Title:</label>
                  <div class="col-sm-11">
                    <input type="text" formControlName="title" class="form-control" id="title" placeholder="there is no title">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-1 col-form-label">Description:</label>
                  <div class="col-sm-11">
                    <input type="text" formControlName="description" class="form-control" id="description" placeholder="there is no description">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="keywords" class="col-sm-1 col-form-label">Keywords:</label>
                  <div class="col-sm-11">
                    <input type="text" formControlName="keywords" class="form-control" id="keywords" placeholder="there are no keywords">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="notes" class="col-sm-1 col-form-label">Notes:</label>
                  <div class="col-sm-11">
                    <input type="text" formControlName="notes" class="form-control" id="notes" placeholder="there are not notes">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-1 ">
                    <button class="btn btn-primary">Update</button>
                  </div>
                   <div class="col-sm-3 ">
                    <input type="text" readonly formControlName="name" id="caseId" class="form-control" placeholder="name">
                  </div>

                    <div class="col-sm-4 ">
                      <input type="text" readonly formControlName="lastChange" class="form-control" placeholder="lastChange">

                    </div>
                    <div class="col-sm-4 ">
                      <input type="email" readonly formControlName="owner" class="form-control" placeholder="owner">
                    </div>

                  </div>

              </form>

            </div>

    </mat-expansion-panel>

  </mat-accordion> -->
  <br/>

</div>
