<div class="infinite-scroll-container">
    <!-- <div class="search-results"
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown()"
        [infiniteScrollContainer]="'.infinite-scroll-container'"
        >
    </div> -->


<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>

    <div *ngFor="let card of searchResults">
        <app-card-view [item]="card" ></app-card-view>
    </div>

</div>
