<div rowHeight="300px">
    <form [formGroup]="searchForm" style="width: 99%;">
        <div class="form-group row">
            <label for="Search" class="offset-sm-2 col-sm-1 col-form-label" >Find these words:</label>
            <div class="col-sm-4">
                <input
                type="text"
                formControlName="textSearch"
                class="form-control"
                id="Search"
                placeholder="Type your search phrase"
                />
            </div>



            <div class="col-sm-2">
                <input type="checkbox" 
                id="findings" 
                class="col-form-label"
                formControlName="onlyFindings">
                <label for="findings" style="margin-left: 10px;" class="col-form-label"><h5>Findings</h5></label>
            </div>

            <div class="col-sm-1">
                <button mat-flat-button color="primary" (click)="doSearch()">
                Search
                </button>
            </div>
        </div>
        <div class="form-group row">
            <label for="Search" class="offset-sm-2 col-sm-1 col-form-label" >This exact word or phrase:</label>
            <div class="col-sm-4">
                <input
                type="text"
                formControlName="textSearch"
                class="form-control"
                id="Search"
                placeholder="Type your search phrase"
                />
            </div>



            <div class="col-sm-2">
                <input type="checkbox" 
                id="findings" 
                class="col-form-label"
                formControlName="onlyFindings">
                <label for="findings" style="margin-left: 10px;" class="col-form-label"><h5>Evidence</h5></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="Search" class="offset-sm-2 col-sm-1 col-form-label" >Any of these words:</label>
            <div class="col-sm-4">
                <input
                type="text"
                formControlName="textSearch"
                class="form-control"
                id="Search"
                placeholder="Type your search phrase"
                />
            </div>



            <div class="col-sm-2">
                <input type="checkbox" 
                id="findings" 
                class="col-form-label"
                formControlName="onlyFindings">
                <label for="findings" style="margin-left: 10px;" class="col-form-label"><h5>Legal Rule</h5></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="Search" class="offset-sm-2 col-sm-1 col-form-label" >None of these words:</label>
            <div class="col-sm-4">
                <input
                type="text"
                formControlName="textSearch"
                class="form-control"
                id="Search"
                placeholder="Type your search phrase"
                />
            </div>


            <div class="col-sm-2">
                <input type="checkbox" 
                id="findings" 
                class="col-form-label"
                formControlName="onlyFindings">
                <label for="findings" style="margin-left: 10px;" class="col-form-label"><h5>Reasoning</h5></label>
            </div>
        </div>
    </form>
</div>
