<app-search></app-search>

<mat-horizontal-stepper linear>
  <mat-step>
    <ng-template matStepLabel><h2>Search for relevent arguments</h2></ng-template>
    <app-search-results [searchResults]="searchResults"></app-search-results>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel ><h2>Capture details in a notebook</h2></ng-template>
    <app-notebook></app-notebook>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><h2>Publish and share research</h2></ng-template>
    <pre>{{ searchResults | json }}</pre>
  </mat-step>
</mat-horizontal-stepper>
