<app-search></app-search>


<mat-horizontal-stepper #stepper >
  <mat-step>
    <ng-template matStepLabel><h3>Search for relevent arguments</h3></ng-template>
    <app-search-results [searchResults]="unselectedSearchResults()"></app-search-results>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><h3>Capture details in a notebook</h3></ng-template>
    <app-notebook></app-notebook>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><h3>Publish and share research</h3></ng-template>
  </mat-step>
</mat-horizontal-stepper>
