<div class="container">
    <form class="search-form" [formGroup]="searchForm">
        <div class="col col-1">
             <mat-form-field appearance="outline" class="text-input">
                <input matInput placeholder="Text Search" formControlName="textSearch" />
            </mat-form-field>
        </div>

        <div class="col col-1">
            <button mat-flat-button color="primary" class="search-button" (click)="doSearch()">Search</button>
        </div>
        <div class="col col-1">
            <input type="checkbox"  name="findingsOnly">
            <label for="findingsOnly">Findings Only</label>
        </div>

    </form>
</div>
