<mat-toolbar color="primary" class="fixed-top">
  <h3 class="spacer">{{title}}&nbsp;{{version}}</h3>
  <h4 class="spacer" *ngIf="currentUser" >{{currentUser.displayName()}}  </h4>
  <h4 class="spacer" *ngIf="currentTeam" >{{currentTeam.workspace}}</h4>
  <h4 class="spacer">|</h4>

  <div class="button-row">
    <button mat-stroked-button  [routerLink]="['/search']" ><h4>Search</h4></button>
    <button mat-stroked-button  [routerLink]="['/drawing']" ><h4>Drawings</h4></button >
    <button mat-stroked-button  [routerLink]="['/scenes']" ><h4>Scenes</h4></button>
    <button mat-stroked-button  [routerLink]="['/teams']" ><h4>Teams</h4></button>
    <button mat-stroked-button  [routerLink]="['/library']" ><h4>Library</h4></button>
    <a style="color:antiquewhite; padding-left: 20px;" href="{{ swaggerLink }}" target="_blank">Swagger</a>

    <span class="spacer">|</span>

    <span class="spacer" style="width:250px" ><em>{{currentFileName}}</em></span>

    <input type="file" style="display: none" (change)="onFileOpen($event)" #hiddenfileinput />
    <!-- <button mat-stroked-button class="push-right" (click)="hiddenfileinput.click()"><h4>Open File</h4></button> -->
    <button mat-stroked-button class="push-right" (click)="onFileSave($event)"><h4>Save File</h4></button>
    <button mat-stroked-button class="push-right" *ngIf="isDirty()" (click)="applyAutoSave($event)"><h4>AutoSave ({{autoSaveCountdown()}})</h4></button>
    <button mat-stroked-button *ngIf="!currentUser" [routerLink]="['/login']"><h4>Login</h4></button>
    <button mat-stroked-button *ngIf="currentUser"  (click)="doLogout()"><h4>Logout</h4></button>

  </div>

</mat-toolbar>

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet *ngIf="hasConfig"></router-outlet>
  </div>

</mat-drawer-container> -->



<router-outlet *ngIf="hasConfig"></router-outlet>




